.shop-container{
     display: grid;
     grid-template-columns: 4fr 1fr;
     grid-gap: 5px;

}

.shop-info{
     color: #353434;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 35px;
     margin-top: 70px;
     padding: 30px;
     line-height: 25px;
      
}

.product-photo{
    width: 100%;
    border-radius: 10px;
  
}
.order-content{
     background-color: #FFE0B3;
     padding: 15px;
     margin-left: 25px;
     position: sticky;
     top: 0;
    
     
    
}
.order-content h2{
     text-align: center;
}
.cart-btn{
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding-top: 20px;
}
.cart-btn button{
     padding: 10px 0;
     background-color: coral;
     border-radius: 5px;
     border: none;
     color: #FFFFFF;
     font-size: 17px;
     cursor: pointer;
}
.grand-total{
     font-weight: 700;
     font-size: 20px;
}
.cart-btn button:nth-child(1){
     background-color: #f33607;
}
.cart-btn button:nth-child(2){
     background-color: #FF9900;
}